* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lavender;
}

.tweet {
  display: flex;
  background-color: white;
}

.tweet:not(:last-child) {
  border-bottom: 1px solid silver;
}

.icon_container {
  width: 1.5em;
  font-size: 3em;
  padding: 0.2em;
}

.body_container {
  flex: 1;
  padding: 0.5em;
}

.account_name {
  color: gray;
}

.status_action span {
  color: red;
}
.status_action span:hover {
  cursor: pointer;
}
